*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

form {
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
}


.right {
    grid-column: 4 / span 5;
}

.right h1 {
    color: rgba(18, 18, 18, 1);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.right p {
    margin-top: 2%;
    margin-bottom: 10%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.007em;
    color: #AAAAAA;
}

.right label {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #4E4B66;
}

.right input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    background: #FCFDFE;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    font-size: 12pt;
}

.right input::placeholder {
    padding-left: 5%;
}

.right button {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #F7F7FC;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    background: #5F2EEA;
    border-radius: 16px;
    border: none;
}

.right button a {
    color: #F7F7FC;
    text-decoration: none;
}

.right .visibility {
    position: absolute;
    top: 45%;
    left: 90%;
    pointer-events: none;
    color: #4E4B66;
}

p.forgot-pass,
p.signup {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.005em;
}

.left {
    grid-column: 1 / span 3;

}

.left .card-header .background {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    opacity: 50%;
}

.left .card-header .logo {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 10%;
}

.left .card-header p {
    position: absolute;
    top: 57%;
    left: -1000%;
    right: -1000%;
    text-align: center;
    margin: auto;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;

    letter-spacing: 0.003em;

    color: rgba(255, 255, 255, 0.8);
}

.left .card-header {
    background-color: #5F2EEA;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.right .password {
    overflow: hidden;
    position: relative;
}

.logo2 {
    display: none;
}

@media screen and (max-width: 900px) {
    .container {
        display: block;
    }

    form {
        margin-top: 0%;
    }

    .left {
        display: none;
    }

    .logo2 {
        display: block;
        margin-top: 10%;
        margin-left: 15%;
        margin-bottom: 5%;
        max-width: 130px;
    }

    .right h1 {
        color: rgba(18, 18, 18, 1);
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 58px;
    }

    .right p {
        margin-top: 2%;
        margin-bottom: 5%;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.007em;
        color: #AAAAAA;
    }

    p.signin {
        margin-top: 5px;
        margin-bottom: 0px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.005em;
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: block;
    }

    form {
        margin-top: 0%;
    }

    .left {
        display: none;
    }

    .logo2 {
        display: block;
        margin-top: 10%;
        margin-left: 15%;
        margin-bottom: 5%;
        max-width: 130px;
    }

    .right h1 {
        color: rgba(18, 18, 18, 1);
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 58px;
    }

    .right p {
        margin-top: 2%;
        margin-bottom: 5%;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.007em;
        color: #AAAAAA;
    }

    .right input {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        height: 60px;
        background: #FCFDFE;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
        font-size: 12pt;
    }

    p.signin {
        margin-top: 5px;
        margin-bottom: 0px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.005em;
    }
}